<h1>Tic Tac Toe</h1>

<%# When you click on the little square, it will
  -	Create a new instance of the model with the position you clicked and which mark is yours x
  -	Display your choice x
    o	Change background image from clear to circle or cross x
    ♣	Add class that holds background-image: circle or cross x
  -	Block that square from being clicked any further x
  -	Block you from making any more moves until the next player has clicked x
    - Users has to sign in before making a move x
    - Automatically assign one mark for each x
    - Always start with a certain one and based on number of "none" will determine which player is allowed to move? x
  Whenever there is a click
    -	Game checks if there are any wins x
    o	Check if the same class for the bg is appearing in all directions (or through the numbering system) x
    -	If there is a win, stop game, show winner x
 %>

<% if @win %>
  <h2>Player Playing <%= @win[1].capitalize %>  Won!</h2>
  <%= link_to "Want to play again?", choices_path, method: "delete" %>
<% end %>

<% if @draw %>
  <h2>Draw!</h2>
  <%= link_to "Want to play again?", choices_path, method: "delete" %>
<% end %>

<table>
  <tr>
    <% for choice in @choices %>
      <% if choice.position == 4 || choice.position == 7%>
        <%# Breaks to a new line of the table when we reach the 4th and 7th square %>
        </tr>
        <th id="<%= choice.position %>" class="<%= choice.mark %>">
          <%# Only allow for clicking when it's not already been marked and no one won %>
          <% unless choice.mark == "cross" || choice.mark == "circle" || @win %>
            <%= render "choices/partials/form", choice: choice %>
          <% end %>
        </th>
      <% else %>
        <th id="<%= choice.position %>" class="<%= choice.mark %>">
          <%# Only allow for clicking when it's not already been marked and no one won %>
          <% unless choice.mark == "cross" || choice.mark == "circle" || @win %>
            <%= render "choices/partials/form", choice: choice %>
          <% end %>
        </th>
      <% end %>
    <% end %>
  </tr>
</table>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
