<h1>Tic Tac Toe</h1>

<%# When you click on the little square, it will
  -	Create a new instance of the model with the position you clicked and which mark is yours x
  -	Display your choice x
    o	Change background image from clear to circle or cross x
    ♣	Add class that holds background-image: circle or cross x
  -	Block that square from being clicked any further x
  -	Block you from making any more moves until the next player has clicked x
    - Users has to sign in before making a move x
    - Has a total of 2 users only
    - Automatically assign one mark for each x
    - Always start with a certain one and based on number of "none" will determine which player is allowed to move? x
  Whenever there is a click
    -	Game checks if there are any wins x
    o	Check if the same class for the bg is appearing in all directions (or through the numbering system) x
    -	If there is a win, stop game, show winner x
 %>

<% if @win %>
  <h2>Player placeholder Won!</h2>
<% end %>
<table>
  <tr>
    <% for choice in @choices %>
      <% if choice.position == 4 || choice.position == 7%>
        </tr>
        <th id="<%= choice.position %>" class="<%= choice.mark %>">
          <% unless choice.mark == "cross" || choice.mark == "circle" || @win %>
            <%= form_with(model: @choice, method: "patch") do |form| %>
              <%= form.hidden_field :position, value: choice.position %>
              <%= form.hidden_field :current_user, value: current_user %>
              <%= form.hidden_field :mark, value: current_user.mark_shape %>
              <%= form.submit "", class: "submit" %>
            <% end %>
          <% end %>
        </th>
      <% else %>
        <th id="<%= choice.position %>" class="<%= choice.mark %>">
          <% unless choice.mark == "cross" || choice.mark == "circle" || @win  %>
            <%= form_with(model: @choice, method: "patch") do |form| %>
              <%= form.hidden_field :position, value: choice.position %>
              <%= form.hidden_field :current_user, value: current_user.id %>
              <%= form.hidden_field :mark, value: current_user.mark_shape %>
              <%= form.submit "", class: "submit" %>
            <% end %>
          <% end %>
        </th>
      <% end %>
    <% end %>
  </tr>
</table>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
